#gremio{
    display: flex;
    border
}

#perfume {
    display: flex;
}

#nome {
    display: flex;
}

#descricao {
    display: flex;
}

#preco {
    display: flex;
}

#preco2 {
    display: flex;
}

#cart {
    display: flex;
}

#carrinho {
    display: flex;
}