// vh 100 é o maximo que a tela pode ter

// @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Fraunces', serif;

}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

#gremio {
    display: flex;
    height: 400px;
    width: 550px;
    margin: auto;
    border-radius: 30px;
    background-color: white;
}

#tudo {

    margin: auto;
    border-radius: 30px;
    padding-left: 25px;
}

img {
    border-radius: 10px 0px 0px 10px;
}

#perfume {
    display: flex;
    font-size: 12px;


}

#nome {
    display: flex;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: -40px;
}

#descricao {
    display: flex;
    font-size: 12px;
    margin-top: -40px;
    font-family: 'Roboto', sans-serif;
}

#preco {
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 34px;
    margin-top: -40px;
    color: hsl(158, 36%, 37%);
}

.money {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-top: 50px;
    font-size: 10px;
    text-decoration: line-through;
    color: black;
}

#preco2 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 12px;
    margin-top: -40px;
}

// carrinho
#cart {

    

    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    height: 45px;
    width: 225px;
    transition: 0.5s ease;

    &:hover {
        background-color: hsl(147, 100%, 19%);
    }

    #cart2 {
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    p {
        margin: 0;
        color: white;
        font-size: 14px;
    }
}