// vh 100 é o maximo que a tela pode ter
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

#gremio {
    display: flex;
    height: 400px;
    width: 550px;
    margin: auto;
    border-radius: 30px;
    background-color: white;
}


#tudo {
    // margin: auto;
    // border-radius: 30px;
    // padding-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

img {
    border-radius: 10px 0px 0px 10px;
}

#perfume {
    display: flex;
    font-size: 12px;

    font-family: 'Fraunces', sans-serif;
}

#nome {
    display: flex;
    font-size: 35px;
    margin-top: -40px;
    font-family: 'Fraunces', sans-serif;
}

#descricao {
    display: flex;
    font-size: 12px;
    margin-top: -40px;
}

.ja {
    display: flex;
    font-size: 12px;
    color: black;
    text-decoration: line-through;
    margin-left: 10px;
}

#preco {
    display: flex;
    font-size: 20px;
    color: hsl(158, 36%, 37%);

}

.money {
    margin-top: -10px;
}

// #preco2 {
//     display: flex;
//     font-size: 12px;
//     margin-top: -40px
// }

#cart {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    margin-top: -20px;
    text-align: center;

    &:hover {
        background: hsl(147, 100%, 19%);
    }
}
